@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .veil {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .veil-transparent {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .veil-full {
    background-color: rgb(0, 0, 0);
    background-color: rgba(100, 100, 100, 1);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .color-body {
    @apply bg-blue-100 dark:bg-gray-500 text-gray-600;
  }

  .color-body2 {
    @apply bg-blue-200 dark:bg-gray-500 text-gray-600;
  }

  .color-border {
    @apply border-gray-300 dark:border-gray-500;
  }

  .color-header {
    @apply bg-blue-800 text-white fill-white  stroke-white font-semibold;
  }

  .color-primary {
    @apply text-blue-900 bg-blue-300 dark:bg-blue-600;
  }

  .color-primary-hover {
    @apply hover:bg-blue-400 focus:ring-blue-100 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }

  .color-cancel {
    @apply text-blue-900 bg-blue-300 dark:bg-blue-600;
  }

  .color-cancel-hover {
    @apply hover:bg-blue-400 focus:ring-blue-100 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }

  .color-input {
    @apply bg-blue-200 border-gray-200 focus:bg-blue-50 focus:border-gray-500 text-black dark:bg-gray-700 dark:focus:bg-gray-600 dark:focus:border-gray-200 dark:text-white;
  }

  .color-input-focus {
    @apply bg-blue-50 border-blue-500 dark:bg-gray-600 dark:border-gray-200;
  }

  .color-input-hover {
    @apply hover:bg-blue-200;
  }

  .color-input-label {
    @apply text-gray-400;
  }

  .link {
    @apply cursor-pointer hover:text-blue-700 text-white;
  }

  .link- {
    @apply cursor-default text-teal-600;
  }

  .form {
    /* @apply absolute; */
  }

  .form .header {
    @apply w-full color-header sm:rounded-t-lg overflow-hidden shadow-lg px-6 py-2;
  }

  .form .body {
    @apply color-body relative w-full flex flex-wrap px-6 pb-6 text-sm;
  }

  input {
    @apply color-input shadow appearance-none placeholder-transparent block w-full border rounded leading-tight py-1 px-2 focus:outline-none dark:focus:outline-none;
  }

  .form .footer {
    @apply flex w-full color-header sm:rounded-b-lg overflow-hidden shadow-lg justify-center font-bold space-x-2 px-6 py-2;
  }

  .btn-primary {
    @apply color-primary color-primary-hover rounded-lg w-full px-5 text-center focus:ring-4 sm:w-auto;
  }

  .btn-cancel {
    @apply color-cancel color-cancel-hover rounded-lg w-full px-5 text-center focus:ring-4 sm:w-auto;
  }

  .fix-case {
    @apply capitalize;
  }

  @media (min-width: 640px) {
    table.data-list {
      display: inline-table !important;
    }
    table.data-list thead tr:not(:first-child) {
      display: none;
    }
  }

  table.data-list svg.inactive {
    @apply fill-teal-200;
  }

  table.data-list svg.active {
    @apply fill-white;
  }

  table.data-list {
    empty-cells: display;
    @apply w-full flex flex-row flex-nowrap sm:rounded-lg overflow-hidden sm:shadow-lg;
  }

  table.data-list td:not(:last-child) {
    border-bottom: 0;
  }

  table.data-list th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  table.data-list thead tr {
    @apply color-header flex flex-col flex-nowrap sm:table-row sm:rounded-l-lg sm:rounded-none mb-2 sm:mb-0;
  }

  table.data-list thead td {
    @apply px-6 py-1 border color-border;
  }

  table.data-list tbody {
    @apply flex-1 sm:flex-none;
  }

  table.data-list tbody tr:nth-child(odd) {
    @apply color-body2 whitespace-nowrap flex flex-col flex-nowrap sm:table-row mb-2 sm:mb-0;
  }

  table.data-list tbody tr:nth-child(even) {
    @apply whitespace-nowrap flex flex-col flex-nowrap sm:table-row mb-2 sm:mb-0;
  }

  table.data-list tbody td {
    @apply px-6 py-1 border color-border sm:max-w-0 truncate;
  }

  .data-list-paging {
    @apply w-full flex color-header text-sm sm:rounded-b-lg overflow-hidden sm:shadow-lg px-2 py-2 space-x-2;
  }

  .data-list-paging .pagination {
    @apply flex space-x-4;
  }

  .data-list-paging .pagination svg {
    @apply pt-1;
  }
}
