@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .veil {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .veil-transparent {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .veil-full {
    background-color: rgb(0, 0, 0);
    background-color: rgba(100, 100, 100, 1);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .form {
    @apply border border-gray-500 absolute;
  }

  .form .header {
    @apply w-full bg-black text-white px-6 py-2;
  }

  .form .body {
    @apply relative w-full flex flex-wrap px-6 pb-6 bg-white dark:bg-gray-500;
  }

  .form .body label {
    @apply text-gray-600 text-sm;
  }

  .form .body input {
    @apply appearance-none placeholder-transparent block w-full bg-white border-b-2 border-gray-200 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 text-black dark:bg-gray-700 dark:focus:outline-none dark:focus:bg-gray-600 dark:focus:border-gray-200 dark:text-white;
  }

  .form .footer {
    @apply flex w-full bg-gray-500 justify-center font-bold space-x-2 text-white px-6 py-2;
  }

  .btn-primary {
    @apply text-white bg-blue-700 rounded-lg w-full px-5 text-center hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 sm:w-auto;
  }

  .btn-cancel {
    @apply text-white bg-blue-700 rounded-lg w-full px-5 text-center hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 sm:w-auto;
  }

  @media (min-width: 640px) {
    table.data-list {
      display: inline-table !important;
    }
    table.data-list thead tr:not(:first-child) {
      display: none;
    }
  }

  table.data-list svg.inactive {
    @apply fill-teal-200;
  }

  table.data-list svg.active {
    @apply fill-white;
  }

  table.data-list {
    empty-cells: display;
    @apply w-full flex flex-row flex-nowrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5;
  }

  table.data-list td:not(:last-child) {
    border-bottom: 0;
  }

  table.data-list th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  table.data-list thead tr {
    @apply bg-teal-400 text-white font-semibold uppercase flex flex-col flex-nowrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0;
  }

  table.data-list thead td {
    @apply px-6 py-1 border border-gray-300 dark:border-gray-500;
  }

  table.data-list thead .search svg {
    @apply stroke-white hover:stroke-blue-700;
  }

  table.data-list tbody {
    @apply flex-1 sm:flex-none;
  }

  table.data-list tbody tr:nth-child(odd) {
    @apply bg-gray-50 whitespace-nowrap flex flex-col flex-nowrap sm:table-row mb-2 sm:mb-0;
  }

  table.data-list tbody tr:nth-child(even) {
    @apply whitespace-nowrap flex flex-col flex-nowrap sm:table-row mb-2 sm:mb-0;
  }

  table.data-list tbody td {
    @apply px-6 py-1 border border-gray-300 dark:border-gray-500;
  }

  .data-list-paging {
    @apply w-full flex bg-gray-200;
  }

  .data-list-paging .link {
    @apply cursor-pointer text-blue-700;
  }

  .data-list-paging .left {
    @apply px-2 py-2 text-xs text-left;
  }

  .data-list-paging .right {
    @apply grow px-2 py-2 text-xs text-right font-bold;
  }
}
